body {
    display: flex;
    font-family: Source Code Pro;
}

.lateral-menu {
    flex-direction: column;
    padding-right: 300px;
}

.green-background {
    background: #90CCAC 0% 0% no-repeat padding-box;
}

.chat-user {
    display: flex;
    align-items: center;
}

.grid-user {
    display: flex;
    align-items: center;
}

.grid-title {
    display: flex;
    align-items: center;
}

.lateal-menu-elements {
    position: fixed;
}

.lateral-top {
    padding-left: 30px;
    padding-top: 40px;
    top: 0;
}

.lateral-bottom {
    padding-left: 30px;
    padding-bottom: 30px;
    bottom: 0;
}

.lateral-title {
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

.link-title {
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.lateral-text {
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
}

.title {
    color: #FFFFFF;
    padding-bottom: 55px;
    padding-top: 60px;
    padding-left: 80px;
    font-size: 40px;
    font-weight: 300;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

form {
    padding-bottom: 50px;
    padding-left: 80px;
}

.chatBox {
    padding-bottom: 50px;
    padding-left: 80px;
}

form p {
    font-size: 22px;
    color: #ADADAD;
    padding-bottom: 36px;
    line-height: 35px;
}

.second-par {
    padding-left: 20px;
    font-size: 14px;
    color: #333333;
}

.text-box {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    border-bottom: dashed 1.5px #ADADAD;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ADADAD;
}

textarea,
input {
    outline: none;
}

input::placeholder {
    color: #ADADAD;
}

textarea::placeholder {
    color: #ADADAD;
}

input:invalid {
    border-color: red;
}

.text-area {
    border: none;
    resize: none;
    color: #ADADAD;
}

form textarea{
    background: repeating-linear-gradient(to right, transparent 0 5px, #FFFFFF 0 6px),
        repeating-linear-gradient(to bottom, transparent 0 calc(1.5em - 1px), #ADADAD 0 1.5em);
    font-style: italic;
    font-size: 20px;
}

.button-container {
    padding-left: 50px;
}

.gray-background {
    background: #F4F6F7 0% 0% no-repeat padding-box;
}

.button {
    border: none;
    background: #EAEAEA 0% 0% no-repeat;
    text-align: left;
    letter-spacing: 0px;
    color: #333333;
    text-decoration: none;
}

.big-button {
    padding-left: 27px;
    padding-right: 34px;
    padding-top: 20px;
    padding-bottom: 19px;
    font-size: 22px;
}

.mini-button {
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    display: block;
    border-radius: 0 5px 5px 0;
}

.text-message {
    height: 46px;
    border-radius: 5px 0 0 5px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 13px;
    width: 96%;
}

.sky-blue-background {
    background: #E6F7FF 0% 0% no-repeat padding-box;
}

.chat {
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B6BDC1;
    padding-left: 40px;
    padding-bottom: 76px;
    padding-top: 46px;
}

.user {
    font-size: 22px;
    color: #333333;
    padding-left: 15px;
}

.last-seen {
    font-size: 13px;
    color: #CCCCCC;
    padding-left: 15px;
}

.box-message {
    position: relative;
}

.left {
    left: 0;
}

.right {
    right: -497px;
}

.message {
    width: 290px;
    font-size: 14px;
    color: #333333;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}

.receved-message {
    background: #E6F7FF 0% 0% no-repeat padding-box;
}

.sent-message {
    background: #F4F6F7 0% 0% no-repeat padding-box;
}

.grid-container {
    padding-left: 80px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    padding: 25px;
    font-size: 13px;
    text-align: center;
}

.first-row {
    background: #AEBED8 0% 0% no-repeat padding-box;
    padding: 35px;
    font-size: 18px;
    color: #FFFFFF;
}

.first-row-left {
    text-align: left;
}

.fisrt-row-center {
    text-align: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 10px;
    display: flex;
    width: 859px;
}

.grid-link {
    background-color: #FFFFFF;
    border: none;
    text-decoration: underline;
    color: #333333;
}

.grid-center {
    line-height: 45px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.triangle-up {
    border-bottom: 10px solid #E6F7FF;
    margin-left: 10px;
}

.triangle-down {
    border-top: 10px solid #F4F6F7;
    margin-left: 765px;
}

.text-error::after {
    color: #FF0000;
    display: block;
    position: absolute;
    content: attr(title);
    top: -20px;
    left: 0;
    font-size: x-small;
}

.text-error {
    position: relative;
}

.nome-grid {
    padding-left: 15px;
}

.gift {
    margin-top: 7px;
    padding-top: 19px;
    padding-bottom: 17px;
    padding-left: 20px;
}

.gift-link {
    padding-left: 25%;
}