body, input, button, textarea {
    font-family: Source Code Pro;
}

.lateral-menu {
    flex-direction: column;
    width: var(--menu-width);
    height: 100vh;
    position: fixed;
    justify-content: space-between;
    display: flex;
}

.green-background {
    background: #90CCAC;
}

.chat-user {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.grid-user {
    display: flex;
    align-items: center;
}

.grid-title {
    display: flex;
    align-items: center;
}

.lateral-menu-elements {
    padding-left: 30px;
}

.lateral-top {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.lateral-bottom {
    padding-bottom: 30px;
    bottom: 0;
}

.lateral-title {
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.link-title {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.lateral-text {
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
}

.title {
    color: #FFFFFF;
    padding-bottom: 50px;
    padding-top: 55px;
    font-size: 40px;
    font-weight: 300;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

form div, form span {
    font-size: 22px;
    color: #ADADAD;
    padding: 10px 0px;
}

form {
    padding: 40px 0px;
}

div {
    font-size: 22px;
    color: #ADADAD;
    padding-bottom: 10px;
}

.text-box {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    border: none;
    color: #ADADAD;
    background: repeating-linear-gradient(to right, transparent 0 4px, #FFFFFF 0 6px),
                repeating-linear-gradient(to bottom, transparent 0 22px, #ADADAD 0 24px);

}

textarea,
input {
    outline: none;
}

input::placeholder {
    color: #ADADAD;
}

textarea::placeholder {
    color: #ADADAD;
}

.text-area {
    border: none;
    resize: none;
    color: #ADADAD;
}

form textarea{
    background: repeating-linear-gradient(to right, transparent 0 4px, #FFFFFF 0 6px),
                repeating-linear-gradient(to bottom, transparent 0 22px, #ADADAD 0 24px);
    font-style: italic;
    font-size: 20px;
}

.button-container {
    padding-left: 50px;
}

.gray-background {
    background: #F4F6F7;
}

.button {
    border: none;
    background: #EAEAEA;
    text-align: left;
    letter-spacing: 0px;
    color: #333333;
    text-decoration: none;
}

.big-button {
    padding: 20px 30px;
    font-size: 22px;
}

.mini-button {
    padding: 15px 10px;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    display: block;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
}

.text-message {
    height: 46px;
    border-radius: 5px 0 0 5px;
    line-height: 45px;
    padding-left: 25px;
    font-size: 13px;
    width: 96%;
}

.sky-blue-background {
    background: #E6F7FF;
}

.chat {
    background: #FFFFFF;
    border: 1px solid #B6BDC1;
    padding: 50px 70px 40px;
}

.user {
    font-size: 22px;
    color: #333333;
    padding-left: 15px;
}

.last-seen {
    margin-top: 10px;
    font-size: 13px;
    color: #CCCCCC;
    padding-left: 15px;
}

.message {
    position: relative;
    width: 290px;
    font-size: 14px;
    color: #333333;
    border-radius: 5px;
    padding: 10px;
}

.received-message {
    background: #E6F7FF;
}

.sent-message {
    background: #F4F6F7;
    margin-left: auto;
}

.grid-container {
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    padding: 25px;
    font-size: 15px;
    text-align: center;
    color: #333333;
}

.first-row {
    background: #AEBED8;
    padding: 35px;
    font-size: 18px;
    color: #FFFFFF;
}

.first-row-left {
    text-align: left;
}

.first-row-center {
    text-align: center;
}

.grid-message {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 10px;
    display: flex;
}

.grid-link {
    background-color: #FFFFFF;
    border: none;
    text-decoration: underline;
    color: #333333;
}

.grid-center {
    line-height: 45px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: relative;
}

.triangle-up {
    border-bottom: 10px solid #E6F7FF;
    margin-left: 10px;
}

.triangle-down {
    border-top: 10px solid #F4F6F7;
    margin-left: auto;
    margin-right: 10px;
}

.text-error::after {
    color: #FF0000;
    display: block;
    position: absolute;
    content: attr(title);
    top: -5px;
    left: 0;
    font-size: x-small;
}

.text-error {
    position: absolute;
}

.name-grid {
    padding-left: 15px;
}

.gift {
    max-width: 290px;
    margin-top: 5px;
    padding: 15px 10px;
    font-size: 14px;
    color: #333333;
}

.gift-link {
    padding-left: 70px;
    font-size: 14px;
    color: #333333;
}

.gift-label {
    margin-bottom: 15px;
}

main {
    padding-left: calc(80px + var(--menu-width));
    max-width: 50%;
}

section {
    padding-bottom: 50px;
}

:root {
    --menu-width: 300px;
}